.about-page {
    overflow-x: hidden;
}
.about-panel {
    margin: 50px auto;
    width: 60%;
    height: 450px;
    background: var(--primary);
    transform: skewX(-12deg);
}

.about-panel>.inner-element {
    padding: 50px 70px;
    transform: skewX(12deg);
    display: flex;
}

.about-panel .poster-image {
    width: 40%;
}

.poster-image img {
    width: 200px
}

.about-panel .side-text {
    text-align: right;
    width: 60%;
}

.testimonial-view {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.slider {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}
.profile {
    width: 125px;
    border-radius: 100px;
    margin: 0 auto;
}
.testimonial>h2 {
    margin: 0;
}
.testimonial>small {
    margin: 0;
}
.testimonial>p{
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}