#blog.post {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        'img'
        'date'
        'title'
        'desc';
    overflow:hidden;
}

#blog.thumbnail {
    grid-area: img;
}

#blog.post-title {
    grid-area: title;
    color: #4422ff;
    margin: 0;
}

#blog.post-date {
    grid-area: date;
/*     transform: rotate(-90deg);
    transform-origin:  185px 50px;
    height: 20px; */
}
/* #blog.post-date:before,
#blog.post-date:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
} 

#blog.post-date:before {
  right: 0.5em;
  margin-left: -50%;
}

#blog.post-date:after {
  left: 0.5em;
  margin-right: -50%;
}*/

#blog.post-desc {
    grid-area: desc;
}