h1, h2, h3 {
    color: var(--dark);
}
#main.post {
    margin: 0 auto;
    border-bottom: #afafaf 1px solid;
    max-width: 40vw; 
}

#main.post-title {
    margin: 0;
}

.index-banner {
    display: block;
}

.index-banner > h1 {
    margin: 0;
}
.index-banner > h2 {
    margin: 0;
}
.index-banner > img {
    margin: 0;
}
.biography {
    display: block;
}
.biography .inner-element {
    display: block;
}
.biography h1, .biography p {
    margin: 0;
}

.contact {
    display: block;
}