@font-face {
    font-family: 'LibreFranklin';
    src: url("../fonts/LibreFranklin-Bold.ttf");
}

@font-face {
    font-family: 'LibreFranklinExtra';
    src: url("../fonts/LibreFranklin-ExtraBold.ttf");
}

@font-face {
    font-family: 'FiraSans';
    src: url("../fonts/FiraSansCondensed-Light.ttf")
}

@font-face {
    font-family: 'Overpass';
    src: url("../fonts/Overpass-Light.ttf")    
}

@font-face {
    font-family: 'fa';
    src: url("../fonts//fa-solid-900.ttf")    
}

html {
    scroll-behavior: smooth;
}
h1,h2,h3,label {
    font-family: 'LibreFranklin', sans-serif;
    text-transform: uppercase;
    margin: 0;
}
h4,h5,h6,small {
    font-family: 'FiraSans', sans-serif;
    margin: 0;
}
p, a, li, input, textarea {
    font-family: 'Overpass', sans-serif;
    margin: 0;
}
h1,
h2,
h3 {
    color: var(--dark);
}

h1 {
    font-size: 2.4rem;
    letter-spacing: -0.1rem;
}

p {
    line-height: 1.25rem;
}
#link {
    color: #fff
}
#altlink { 
    color: var(--secondary)
}
.logo {
    display: block;
    box-shadow: none;
    text-align: center;
}
.logo img {
    height: 60px;
    margin-bottom: 0;
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 999;
}
.header>.inner-element {
    margin: 10px 0;
}

.nav {
    position: fixed;
    right: 0;
    width: 0;
    margin-top: -80px;
    background: var(--dark);
    transition: width 0.7s;
}

.active.nav {
    width: 100vw;
    height: 100vh;
}

.nav-toggle {
    margin: 0;
    display: block;
    position: fixed;
    right: 30px;
    top: 20px;
}

.nav-toggle > img {
    width: 50px;
    margin-bottom: 0;
    transition: filter 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045), transform 0.5s ease;
    mix-blend-mode: difference;
    transform: rotate(0deg);
}

.nav.active .nav-toggle > img {
    filter: brightness(20);
    transform: rotate(90deg);
}

.nav-toggle:hover {
    cursor: pointer;
}

.nav-items {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    height: 100vh;
}

.nav-item {
    font-family: 'FiraSans', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    min-width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    box-shadow: none;
    color: #fff;
    white-space: nowrap;
    font-size: 1.8rem;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width .3s;
    background: var(--secondary);
}

.nav-item:hover::after {
    width: 100%;
}

.theme-select {
    display: block;
    width: auto;
    position: relative;
}

.theme-select > p {
    font-family: 'FiraSans', sans-serif;  
}

.theme-colour {
    width: 25px;
    height: 25px;
    margin: 0 2px;
    border: none;
    border-radius: 2px;
}
.inner-element {
    margin-right: auto;
    margin-left: auto;
}

#wave {
    width: 100vw;
}

/* Button */

.button {
    display: block;
    background: var(--secondary);
    width: 150px;
    height: 40px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s;
    box-shadow: none;
}
.disabled.button {
    background: #bbb;
    color: #fff;
    cursor: not-allowed;
}
.button a {
    font-family: 'FiraSans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    box-shadow: none;
}
.button#alt {
    background: #fff;
}
.button#alt a {
    color: var(--secondary);
}

/* Form */

.form > fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: none;
    font-family: 'Overpass';
}
.form input[type="text"] {
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 2px 5px;
}
.form textarea {
    border: none;
    height: 125px;
    width: 100%;
    resize: none;
    border-radius: 3px;
    padding: 2px 5px;
}

.character-limit {
    position: absolute;
    right: 5px;
    margin-top: -20px;
    color: #bbb;
}

.character-limit.error {
    color: #ff2255;
}

.form button {
    margin: 0 auto;
    color: #fff;
    display: block;
    background: var(--secondary);
    width: 150px;
    height: 40px;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-family: 'FiraSans';
    text-transform: uppercase;
}
.form input[type="text"]:focus,
.form textarea:focus{
    outline: none;
}

.form input[type="text"].error,
.form textarea.error {
    border-radius: 5px 5px 0 0;
}

.hidden {
    display: none;
}

.error-message {
    padding: 3px;
    color: #fff;
    background: var(--dark);
    display: block;
    width: 100%;
    border-left: 10px solid #ff2255;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.success-message {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    top: 300px;
    height: 50px;
    width: 100%;
    background: #363636;
    border-radius: 5px;
    padding: 5px;
}

.tick {
    color: #67e07f;
    font-size: 30px;
    width: 50px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
}

.success-message > p:nth-child(2) {
    color: #fff;
    text-align: left;
}

/*Footer section*/

.footer {
    position: absolute;
    left: 0;
    bottom: 1;
    height: 180px;
    width: 100%;
    padding-top: 10px;
    color: #fff;
    background: var(--dark);
    text-align: center;
    font-family: 'FiraSans', sans-serif;
    line-height: 1rem;
}
.footer>button {
    margin: 0 auto;
}

.socials {
    display: flex;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.social {
    font-size: 30px;
    color: #fff;
    box-shadow: none;
    margin: 0 5px;
}

/*404 page*/
.not-found {
    text-align: center;
    margin: 0 auto;
    height: 300px;
}
.not-found-eyes {
    opacity: 0.2;
    font-size: 5rem;
    position: absolute;
    right: 40px;
    top: 80px;
    animation: shake 0.4s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-2deg); }
    20% { transform: translate(-3px, 0px) rotate(2deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(2deg); }
    50% { transform: translate(-1px, 2px) rotate(-2deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-2deg); }
    80% { transform: translate(-1px, -1px) rotate(2deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-2deg); }
  }

.not-found .inner-element {
    margin-top: 100px;
}

.not-found .inner-element h1 {
    font-size: 140px;
}

.not-found .inner-element .title {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
        45deg, 
        var(--primary) 25%, 
        var(--shade) 25%, 
        var(--shade) 50%, 
        var(--primary) 50%, 
        var(--primary) 75%, 
        var(--shade) 75%, 
        var(--shade) 100%);
    background-size: 56.57px 56.57px;
    -webkit-background-clip: text;
    animation: background 1s linear infinite;
}

@keyframes background {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 52px 0;
    }
}

@media only screen and (min-width: 768px) { /*Desktop view*/
    .header {
        position: absolute;
        left: 0;
        top: 0;
        height: 80px;
        width: 100%;
        z-index: 999;
    }
    .header>.inner-element {
        margin: 10px 0;
    }
    
    .nav {
        display: flex;
        position: absolute;
        top: 15px;
        right: 50px;
        width: auto;
        height: auto;
        margin: 0;
        background: none;
    }

    .nav-toggle {
        display: none;
    }

    .nav-items {
        padding-top: 0;
        display: flex;
        flex-direction: row;
        max-height: 50px;
    }
    
    .nav-item {
        width: 100px;
        color: var(--dark);
        height: 60px;
        font-size: 1rem;
    }
    
    .nav-item:hover::after {
        width: 100%;
    }
    
    .theme-select {
        position: absolute;
        top: 10px;
        left: 40px;
    }
    .inner-element {
        margin-right: auto;
        margin-left: auto;
    }
    
    #wave {
        width: 100vw;
    }
    
    /* Button */
    
    .button {
        display: block;
        background: var(--secondary);
        width: 150px;
        height: 40px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
    }
    .button a {
        font-family: 'FiraSans';
        text-transform: uppercase;
        color: #fff;
        box-shadow: none;
    }
    .button#alt {
        background: #fff;
    }
    .button#alt a {
        color: var(--secondary);
    }
    
    /* Form */
    
    .form > fieldset {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: none;
        font-family: 'Overpass';
    }
    .form input[type="text"] {
        width: 100%;
        border-radius: 3px;
        padding: 2px 5px;
    }
    .form textarea {
        border: none;
        height: 200px;
        width: 100%;
        resize: none;
        border-radius: 3px;
        padding: 2px 5px;
    }
    .form button {
        margin: 0 auto;
        color: #fff;
        display: block;
        background: var(--secondary);
        width: 150px;
        height: 40px;
        padding: 5px;
        text-align: center;
        border: none;
        border-radius: 5px;
        font-family: 'FiraSans';
        text-transform: uppercase;
    }
    .form input[type="text"]:focus,
    .form  textarea:focus{
        outline: none;
    }

    .form label {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.01rem;
    }
    
    .error-message {
        display: block;
    }
    
    /*Footer section*/
    
    .footer {
        position: absolute;
        left: 0;
        bottom: 1;
        height: 180px;
        width: 100%;
        padding-top: 10px;
        color: #fff;
        background: var(--dark);
        text-align: center;
        font-family: 'FiraSans', sans-serif;
        line-height: 1.2rem;
    }
    .footer>button {
        margin: 0 auto;
    }

    .footer > a#link {
        font-family: 'FiraSans', sans-serif;
    }

    .not-found {
        height: 500px;
    }

    .not-found-eyes {
        font-size: 10rem;
        top: 50px;
        right: 20%;
    }

    .not-found .inner-element h1 {
        font-size: 10rem;
    }

    @keyframes background {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 9.61% 0;
        }
    }
    
}