@font-face {
    font-family: 'LibreFranklin';
    src: url("../fonts/LibreFranklin-Bold.ttf");
}

@font-face {
    font-family: 'LibreFranklinExtra';
    src: url("../fonts/LibreFranklin-ExtraBold.ttf");
}

@font-face {
    font-family: 'FiraSans';
    src: url("../fonts/FiraSansCondensed-Light.ttf")
}

@font-face {
    font-family: 'Overpass';
    src: url("../fonts/Overpass-Light.ttf")    
}


html {
    margin: auto;
    width: 100vw !important;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
h1,h2,h3,label {
    font-family: 'LibreFranklin', sans-serif;
    text-transform: uppercase;
    margin: 0;
}
h4,h5,h6,small {
    font-family: 'FiraSans', sans-serif;
    margin: 0;
}
p, a, li, input, textarea {
    font-family: 'Overpass', sans-serif;
    margin: 0;
}
#link {
    color: #fff
}
#altlink { 
    color: var(--secondary)
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 100vw;
}
.header>.inner-element {
    margin: 10px 0;
}

.nav {
    display: flex;
    position: absolute;
    top: 15px;
    right: 50px;
}

.nav-item {
    font-family: 'FiraSans', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    box-shadow: none;
    color: #363636;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width .3s;
    background: var(--secondary);
}

.nav-item:hover::after {
    width: 100%;
}

.theme-select {
    display: block;
    width: auto;
    position: absolute;
    top: 10px;
    left: 40px;
}

.theme-colour {
    width: 25px;
    height: 25px;
    margin: 0 2px;
    border: none;
}
.inner-element {
    margin-right: auto;
    margin-left: auto;
}

#wave {
    width: 100vw;
}

/* Button */

.button {
    display: block;
    font-family: 'FiraSans';
}

/* Form */

.form > fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: none;
}
.form input[type="text"] {
    border: none;
}
.form textarea {
    border: none;
}
.form button {
    margin: 0 auto;
}
.form input[type="text"]:focus {
    outline: none;
}

.error-message {
    display: block;
}

/*Footer section*/

.footer {
    position: absolute;
    left: 0;
    bottom: 1;
    height: 60px;
    width: 100vw;
    padding-top: 10px;
    color: #fff;
    background: var(--dark);
    text-align: center;
    font-family: 'FiraSans', sans-serif;
    line-height: 1rem;
}
.footer>button {
    margin: 0 auto;
}