.project-item {
    display: grid;
    height: 150px;
    margin: 0 auto;
    grid-template-columns: 276px 1fr;
    grid-template-areas: 
    'img info';
    margin-bottom: 15px;
}

.project-item a {
    box-shadow: none;
}

.project-info {
    grid-area: info;
    display: grid;
    grid-template-areas: 
    'title'
    'desc'
    'link';
}

.project-image {
    grid-area: img;
    height: 150px;
    width: 267px;
    object-fit: fill;
    text-decoration: none;
    box-shadow: none;
}

.project-title {
    grid-area: title;
    text-decoration: none;
    margin: 0;
}

.project-description {
    grid-area: desc;
    margin: 0;
}

.project-link {
    grid-area: link;
    margin: 0;
}